<div class="col-md-12">
 
        <form [formGroup]="ChangePasswordForm" autocomplete="off">

            <mat-form-field class="col-md-12">
                <input matInput placeholder="{{commondata.CurrentPass}}" type="password" formControlName="CurrentPassword">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <input matInput placeholder="{{commondata.NewPass}}" type="password" formControlName="NewPassword">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <input matInput placeholder="{{commondata.ConfirmPass}}" type="password" formControlName="ConfirmPassword">
                <mat-error *ngIf="ChangePasswordForm.controls.ConfirmPassword.hasError('notSame')">
                    Passwords do not match
                </mat-error>  
            </mat-form-field>
            <button mat-raised-button color="warn" class="col-md-12" (click)="ChangePassword()" [disabled]="ChangePasswordForm.invalid">{{commondata.Submit}}</button>
        </form>
 <!-- checking comment -->
</div>
