<div class="col-md-10 mx-auto pb-5">

    <mat-toolbar class="mt-5 mb-3">
        <span class="fill-remaining"></span>
        <span>{{commondata.Myorder}}</span>
        <span class="fill-remaining"></span>
    </mat-toolbar>
    <mat-card *ngFor="let product of Products" class="shadow mb-4 mt-4" > 
     <div  style="display: flex;">
        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <td><strong>{{commondata.NameOrder}}</strong></td>
                    <td><strong>{{product.name}}</strong></td>
                </tr>
                <tr>
                    <td><strong>{{commondata.Price}}</strong></td>
                    <td><strong>{{product.price}}</strong></td>
                </tr>
                <tr>
                    <td><strong>{{commondata.Qunatity}}</strong></td>
                    <td><strong>{{product.quantity}}</strong></td>
                </tr>
                <tr>
                    <td><strong>{{commondata.Amount}}</strong></td>
                    <td><strong>{{product.amount}}</strong></td>
                </tr>
                <tr>
                    <td><strong>{{commondata.Cretedon}}</strong></td>
                    <td><strong>{{product.createdOn | date}}</strong></td>
                </tr>

            </table>

            <button  mat-raised-button color="warn"  matTooltip="Order can be cancel within 10 days." matTooltipClass="example-tooltip-red"  (click)="cancelOrder(product.detailOrderId)">Refund request</button>
        </div>
        <div class="col-md-4" style="height:250px;">
            <img src="{{product.imageUrl}}" height="100%" width="100%">
        </div>
    

     </div>
        
    </mat-card>
</div>