

<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]>
        <mat-card style="display: flex;" class="shadow col-md-6">
            <div class="col-md-4">
                <img class="card-img-top" src="{{productData.imageUrl}}" alt="">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">
                      <b>{{productData.name}}</b>
                    </h4>
                    <h5>{{productData.price}}</h5>


                    <!-- <mat-accordion >
                        <mat-expansion-panel hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <strong>Description</strong> 
                            </mat-panel-title>
                            <mat-panel-description>
                             {{text | slice : 0:20}}...
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>{{text}}</p>
                        </mat-expansion-panel>
                    </mat-accordion> -->
                    <p class="card-text">{{productData.description}}</p>
                </div>
            </div>
        </mat-card>
    

        <ng-template matStepLabel>{{commondata.FillQuantity}}</ng-template>
        <mat-form-field>
          <mat-label>{{commondata.Qunatity}}</mat-label>
          <mat-select [(value)]="qty">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
       
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="checkStock()">{{commondata.Next}}</button>
        </div>
  
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{commondata.FillAddress}}</ng-template>
        <div class="col-md-6">
            <mat-form-field class="col-md-12">
                <mat-label>{{commondata.Address}}</mat-label>
                <input matInput formControlName="Add" placeholder="Ex. 1 Main St, New York, NY"
                       required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
            <mat-label>{{commondata.City}}</mat-label>
                  <input matInput formControlName="City"  placeholder="Ex. 1 Main St, New York, NY"
                         required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                  <mat-label>{{commondata.Dist}}</mat-label>
                  <input matInput  formControlName="Dist" placeholder="Ex. 1 Main St, New York, NY"
                         required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                  <mat-label>{{commondata.Pin}}</mat-label>
                  <input matInput formControlName="Pin" placeholder="Ex. 1 Main St, New York, NY"
                         required>
            </mat-form-field>
        </div>
       
        <div>
          <button mat-button matStepperPrevious>{{commondata.Back}}</button>
          <button mat-button matStepperNext (click)="countTotal()">{{commondata.Next}}</button>
          <!-- <button mat-raised-button>Select Address</button> -->
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
    
        <ng-template matStepLabel>{{commondata.Paymentdetail}}</ng-template>
        <div>
          <!-- <mat-form-field class="col-md-6">
            <mat-label>{{commondata.Offer}}</mat-label>
          <mat-select>
            <mat-option value="offer.id" (click)="discount(offer.availabe,i)" [disabled]="offer.availabe==0" *ngFor="let offer of offers;let i =index">{{offer.offer}}</mat-option>
          </mat-select>
         </mat-form-field><br> -->

          <b>{{commondata.Price}}:{{total}}</b><br>
          <div *ngIf="offerapplied" style="color: blue;">
            <b>Dicount:{{Discount}}</b><br>
            <b>{{commondata.AmountPayable}}:{{final}}</b><br>
           
          </div>
        
            <b><strong>Debit from:-</strong></b><br>
            
              <button mat-stroked-button color="primary" class="mr-2" (click)="payWithWallet()">Wallet</button>
              <button mat-stroked-button  color="primary"   (click)="payWithRazor()">Other</button>
    
          </div>

          
            <mat-card class="col-md-4 shadow-lg mt-5" *ngIf="walletPay">
              <mat-toolbar>
                <span class="fill-remaining"></span>
                <span> Pay with Wallet</span>
                <span class="fill-remaining"> </span>
              </mat-toolbar>
              <hr>
              <b><strong>Balance:</strong></b>
              <b><strong>{{amt|currency:"INR"}}</strong></b>
              <hr>
              <b>{{commondata.Price}}:{{total}}</b><br>
              <i *ngIf="total>amt"  style="color: red;">Not enough money in your wallet.</i>
              <button mat-stroked-button color="primary" (click)="paymentConfirmation()" class="mr-2" [disabled]="total>amt">Pay</button>
              <button mat-stroked-button color="primary" (click)="topUpWallet()" > Topup Wallet</button>
            </mat-card>
  
    </mat-step>
</mat-vertical-stepper>

