<div class="container-fluid" >


  

  <!-- <div class="row"> -->
<!-- 
      <div class="col-lg-3" style="background-color: navajowhite;">

        <h1 class="my-4">My Shop</h1>
  
        <div>
          <mat-form-field appearance="fill">
            <mat-label><strong>Select Category</strong> </mat-label>
            <mat-select [(value)]="selected" (onChange)="GetProductsByCategory()">
              <mat-option (click)="NoCategory()" ><strong>None</strong></mat-option>
              <mat-option value="2" (click)="GetProductsByCategory()"><strong>Laptops</strong> </mat-option>
              <mat-option value="3" (click)="GetProductsByCategory()"><strong>Furniture</strong> </mat-option>
              <mat-option value="4" (click)="GetProductsByCategory()"><strong>Clothing</strong> </mat-option>
              <mat-option value="5" (click)="GetProductsByCategory()"><strong>Footwear</strong> </mat-option>
              <mat-option value="6" (click)="GetProductsByCategory()"><strong>Mobiles</strong> </mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>

        <div>
  
            <mat-form-field>
              <input matInput placeholder="Search"   type="text" name="search" [(ngModel)]="filter">
              <button matSuffix class="btn btn-outline-danger" (click)="Clear()"><mat-icon>clear</mat-icon></button>
            </mat-form-field>
   
        </div>

        <div>
          <h4>Sort By</h4>
          <div class="list-group" >
            <button  class="list-group-item" style="background-color: navajowhite;" ><strong>Price--Low to High</strong><input type="radio" (click)="sortLH('price')"  name="sort"></button>
            <button  class="list-group-item" style="background-color: navajowhite;" ><strong>Price--High to low</strong><input type="radio" (click)="sortHL('price')" name="sort"></button>            
          </div>
        </div>

      </div> -->
      <!-- /.col-lg-3 -->

      <div class="col-md-11 mx-auto " style=" margin-right: 0px; padding-right: 0px;">
       

        <div class="col-md-9 mx-auto mt-5 ">
          <mat-form-field class="col-md-8">
            <input matInput placeholder="Search"  autocomplete="off" [(ngModel)]="filter">
            <button matSuffix class="btn btn-outliner" (click)="Clear()" aria-expanded="false"><mat-icon>clear</mat-icon></button>
          </mat-form-field>
          <div class="col-md-3 float-right">

            <button mat-raised-button [matMenuTriggerFor]="sort" class="mr-3">Sort By </button>
            <mat-menu #sort="matMenu">
              <button mat-menu-item  (click)="sortLH('price')"><strong>Price -Low to High</strong></button>
              <button mat-menu-item (click)="sortHL('price')"><strong>Price -High to Low</strong></button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]="category">Category</button>
            <mat-menu #category="matMenu">
              <button mat-menu-item (click)="NoCategory()"><strong>All</strong></button>
              <button mat-menu-item  (click)="GetProductsByCategory(6)"><strong>Mobiles</strong></button>
              <button mat-menu-item (click)="GetProductsByCategory(2)"><strong>Laptops</strong></button>
              <button mat-menu-item (click)="GetProductsByCategory(4)"><strong>Clothing</strong></button>
              <button mat-menu-item (click)="GetProductsByCategory(5)"><strong>Footwear</strong></button>
              <button mat-menu-item (click)="GetProductsByCategory(3)"><strong>Furniture</strong></button>
            </mat-menu>
          </div>
        </div>
     


        <div class="row " style="display: flex; justify-content: space-around;">

          <mat-card class="col-md-3 mb-5 mr-2" *ngFor="let product of products   | filter:filter |orderBy: key : reverse   ;let i = index " >
            <div style="height: 200px;">
              <img class="card-img-top" src="{{product.imageUrl}}" alt="" style="height: 100%;">
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <b class="btn">{{product.name}}</b>
               <mat-icon style="color: red; cursor: pointer;" *ngIf="!product.isWishListItem" class="float-right" (click)="AddToWishlist(product.productId,i)">favorite_border</mat-icon>
                 <mat-icon style="color: red; cursor: pointer;" *ngIf="product.isWishListItem"   class="float-right" (click)="Removefromwishlist(product.productId,i)">favorite</mat-icon>
                
              </h4>
              <h5>{{product.price}}</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
          
         
            
            <div style="display: flex;justify-content: space-between;" >
              <button mat-raised-button color="primary" (click)="AddtoCart(product.productId)"><mat-icon>add_shopping_cart</mat-icon>Cart</button>
              <button mat-raised-button color="warn" (click)="BuyNow(product.productId)" *ngIf="product.quantity>0">Buy Now</button>
            
                <img src="assets\Images\images.png" width="30%" height="35px" *ngIf="product.quantity==0">
              
            </div>


          </mat-card> 

        </div>
        <!-- /.row -->
<!-- 
        | paginate: { itemsPerPage: 5, currentPage: p }
        <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
     
       

      </div>
      <!-- /.col-lg-9 -->

    <!-- </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->



 