<div class="container-fluid" >


      <div class="col-md-12 mx-auto " style=" margin-right: 0px; padding-right: 0px;">
       

        <div class="col-md-12 mx-auto mt-5 ">
          <mat-form-field class="col-md-6 ml-4">
            <input matInput placeholder="{{commondata.search}}"  autocomplete="off" [(ngModel)]="filter">
            <button matSuffix class="btn btn-outliner" (click)="clear()" aria-expanded="false"><mat-icon>clear</mat-icon></button>
          </mat-form-field>
          <div class="col-md-2 float-right mr-0" >

            <button mat-raised-button [matMenuTriggerFor]="sort" class="mr-3">{{commondata.Sortby}} </button>
            <mat-menu #sort="matMenu">
              <button mat-menu-item  (click)="sortLH('price')"><strong>Price -Low to High</strong></button>
              <button mat-menu-item (click)="sortHL('price')"><strong>Price -High to Low</strong></button>
            </mat-menu>
            <button mat-raised-button [matMenuTriggerFor]="category">{{commondata.Category}}</button>
            <mat-menu #category="matMenu">
              <button mat-menu-item (click)="noCategory()"><strong>{{commondata.All}}</strong></button>
              <button mat-menu-item  (click)="getProductsByCategory(6)"><strong>{{commondata.Mobile}}</strong></button>
              <button mat-menu-item (click)="getProductsByCategory(2)"><strong>{{commondata.Laptops}}</strong></button>
              <button mat-menu-item (click)="getProductsByCategory(4)"><strong>{{commondata.Clothing}}</strong></button>
              <button mat-menu-item (click)="getProductsByCategory(5)"><strong>{{commondata.Footwear}}</strong></button>
              <button mat-menu-item (click)="getProductsByCategory(3)"><strong>{{commondata.Furniture}}</strong></button>
            </mat-menu>
          </div>
        </div>
     


        <div class="row " style="display: flex; justify-content: space-around;">

          <mat-card class="col-md-3 mb-5 mr-2 shadow-lg" *ngFor="let product of products   | filter:filter |orderBy: key : reverse   ;let i = index " (mouseenter)="hover(i)" >
            <div style="height: 200px;" >
              <img class="card-img-top" src="{{product.imageUrl}}" alt="" style="height: 100%; ">
              <img style="z-index: 1;position: static; margin-left: 40%;"  src="assets\Images\69984235-sold-out-rubber-business-stamp.jpg" width="30%" height="40%" *ngIf="product.quantity==0">
            </div>
            <div class="card-body ml-0 mb-0">
              <h4 class="card-title">
                <strong>{{product.name}}</strong>
               <mat-icon style="color: red; cursor: pointer;" *ngIf="!product.isWishListItem" class="float-right" (click)="addToWishlist(product.productId,i)">favorite_border</mat-icon>
                 <mat-icon style="color: red; cursor: pointer;" *ngIf="product.isWishListItem"   class="float-right" (click)="removefromwishlist(product.productId,i)">favorite</mat-icon>
                
              </h4>
              <h5>{{product.price | currency : "INR"}}</h5>
              <!-- <p class="card-text hover" >{{product.description}}</p> -->
              
            </div>
          
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong>Description</strong> 
                  </mat-panel-title>
                  <mat-panel-description>
                   {{text | slice : 0:20}}...
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{text}}</p>
              </mat-expansion-panel>
          </mat-accordion>
         
            
            <div style="display: flex;justify-content: left;"  class="mt-1">
              <button mat-raised-button color="primary" class="mr-3" (click)="addtoCart(product.productId)"><mat-icon>add_shopping_cart</mat-icon>{{commondata.Cart}}</button>
              <button mat-raised-button color="warn" (click)="buyNow(product.productId)" *ngIf="product.quantity>0">{{commondata.Buy}}</button>
            
               
              
            </div>

         

          </mat-card> 

        </div>
        <!-- /.row -->
<!-- 
        | paginate: { itemsPerPage: 5, currentPage: p }
        <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
     
       

      </div>
      <!-- /.col-lg-9 -->

    <!-- </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->



 