<div class="col-md-12">
 
    <form [formGroup]="service.ForgotPasswordForm" autocomplete="off">

        <mat-form-field class="col-md-12">
            <input matInput placeholder="Email"  #email formControlName="Email" > 
        </mat-form-field>
        <p style="color: green;" *ngIf="isvarified">Email is varified ,reset your password</p>
        <p style="color: red;" *ngIf=NotVarified>Email is not varified</p>
        <div *ngIf="IsTrue">
            <mat-form-field class="col-md-12">
                <input matInput placeholder="New Password" type="password" formControlName="NewPassword">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <input matInput placeholder="Confirm Password" type="password" formControlName="ConfirmPassword">
            </mat-form-field>
        </div>
       
        <button mat-raised-button *ngIf="isvarified" color="warn" class="col-md-12 " (click)="change()" [disabled]="service.ForgotPasswordForm.invalid">Reset</button>
        <button mat-raised-button  *ngIf="!isvarified" color="warn" class="col-md-12 " (click)="verify(email.value)">Submit</button>
    </form>

</div>

