



<!-- 
    <button (click)="Generate()">Create</button>
 -->


<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]>
        <mat-card style="display: flex;" class="shadow col-md-6 mb-4"  *ngFor="let product of cartItems;let i=index">
            <div class="col-md-4">
                <img class="card-img-top" src="{{product.imageUrl}}" alt="">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">
                      <b>{{product.name}}</b>
                    </h4>
                    <h5>{{product.price | currency :"INR"}}</h5>
                    <p class="card-text">{{product.description | slice: 0:80}}</p>
                    
                    <div *ngIf="product.stock>0">
                      <button class="btn-sm btn btn-outline-danger" (click)="removeFromCart(product.cartId,i)"><mat-icon>remove_circle</mat-icon></button>
                  <strong>Qty:-<b>{{product.quantity}}</b></strong>
                 <button class="btn-sm btn btn-outline-success" (click)="addToCart(product.cartId,i)"><mat-icon>add_circle</mat-icon></button>
                  
                  </div>
                  <div *ngIf="product.stock==0">
                      currently out of stock
                      <button mat-raised-button color="warn">Notify Me</button>
                  </div>
                </div>
            </div>
        </mat-card>

        <ng-template matStepLabel>{{commondata.FillQuantity}}</ng-template>
        <div>
          <button mat-button matStepperNext>{{commondata.Next}}</button>
        </div>
    
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{commondata.FillAddress}}</ng-template>
        <div class="col-md-6">
            <mat-form-field class="col-md-12">
                <mat-label>{{commondata.Address}}</mat-label>
                <input matInput formControlName="Add" placeholder="Ex. A/17 ,Yogi park ,anand vv nagar road"
                       required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
            <mat-label>{{commondata.City}}</mat-label>
                  <input matInput formControlName="City"  placeholder="Ex. Vidhyanagar"
                         required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                  <mat-label>{{commondata.Dist}}</mat-label>
                  <input matInput formControlName="Dist"  placeholder="Ex. Anand"
                         required>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                  <mat-label>{{commondata.Pin}}</mat-label>
                  <input matInput formControlName="Pin" placeholder="Ex. 388120"
                         required>
            </mat-form-field>
        </div>
       
        <div>
          <button mat-button matStepperPrevious>{{commondata.Back}}</button>
          <button mat-button matStepperNext>{{commondata.Next}}</button>
         
         
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
       
            <ng-template matStepLabel>{{commondata.Paymentdetail}}</ng-template>
            <div>
                <!-- <mat-form-field class="col-md-6">
                    <mat-label>{{commondata.Offer}}</mat-label>
                <mat-select>
                    <mat-option value="offer.id" (click)="discount(offer.availabe,i)" [disabled]="offer.availabe==0" *ngFor="let offer of offers;let i =index">{{offer.offer}}</mat-option>
                </mat-select>
                </mat-form-field><br> -->
                
                <b>{{commondata.Price}}:{{total}}</b><br>
                <div *ngIf="offerapplied" style="color: blue;">
                    <b>Dicount:{{Discount}}</b><br>
                    <b>{{commondata.AmountPayable}}:{{final}}</b><br>
                
                </div>
                <!-- <button mat-button matStepperPrevious >{{commondata.Back}}</button>
                <button mat-button matStepperNext  (click)="payWithRazor()">{{commondata.Next}}</button> -->
        
            </div>
      


            <b><strong>Debit from:-</strong></b><br>
            
            <button mat-stroked-button color="primary" class="mr-2" (click)="payWithWallet()">Wallet</button>
            <button mat-stroked-button  color="primary"   (click)="payWithRazor()">Other</button>
  
       
          <mat-card class="col-md-4 shadow-lg mt-5" *ngIf="walletPay">
            <mat-toolbar>
              <span class="fill-remaining"></span>
              <span> Pay with Wallet</span>
              <span class="fill-remaining"> </span>
            </mat-toolbar>
            <hr>
            <b><strong>Balance:</strong></b>
            <b><strong>{{amt|currency:"INR"}}</strong></b>
            <hr>
            <b>{{commondata.Price}}:{{total}}</b><br>
            <i *ngIf="total>amt"  style="color: red;">Not enough money in your wallet.</i>
            <button mat-stroked-button color="primary" (click)="paymentConfirmation()" class="mr-2" [disabled]="total>amt">Pay</button>
            <button mat-stroked-button color="primary" (click)="topUpWallet()" > Topup Wallet</button>
          </mat-card>

    </mat-step>

  </mat-vertical-stepper>

