<div>
    <mat-toolbar>
        <span class="fill-remaining"></span>
        <span>My Wallet</span>
        <span class="fill-remaining"></span>
    </mat-toolbar>
    <br>

    <div style="color: black;">
        <b><strong>Balance:</strong></b>
        <b><strong>{{amt|currency:"INR"}}</strong></b>
    </div>

    <hr>
    <div>
        <b><strong>Topup Wallet</strong></b><br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Enter Amount" [(ngModel)]="fillAmt">
                <mat-icon matSuffix></mat-icon>       
            </mat-form-field>
        </div>
        <b>Fast Topup</b><br>
        <button mat-stroked-button color="primary" class="mr-1" (click)="fillAmount(1000)">1000</button>
        <button mat-stroked-button color="primary" class="mr-1" (click)="fillAmount(2000)">2000</button>
        <button mat-stroked-button color="primary" class="mr-1" (click)="fillAmount(5000)">5000</button>
    </div>
   
    <hr>

    <button mat-stroked-button color="primary" (click)="payWithRazor()">Add Amount</button>

    <!-- <mat-tab-group mat-align-tabs="start">
        <mat-tab label="BHIM UPI">
            <mat-form-field class="col-md-10 mx-auto mt-1">
                <input matInput placeholder="Ex:- 8978789078@upi" autocomplete="off">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="add()">Add</button>
        </mat-tab>
        <mat-tab label="DEBIT CARD">
            <mat-grid-list cols="2" rowHeight="1:1.2">
                <mat-grid-tile class="col-md-12">
                    <div class="controles-container">
                            <mat-form-field appearance="outline" >
                                    <mat-label>Card Number</mat-label>
                                    <input matInput placeholder="Card Number" autocomplete="off">
                                    <mat-icon matSuffix></mat-icon>       
                                </mat-form-field>
                                <mat-form-field appearance="outline" >
                                    <mat-label>Card Holder </mat-label>
                                    <input matInput placeholder="Card Holder Name" autocomplete="off">
                                    <mat-icon matSuffix></mat-icon>       
                                </mat-form-field>
                    </div>
                    
                </mat-grid-tile>
                <mat-grid-tile class="col-md-12">

                    <div class="controles-container">
                            <mat-form-field appearance="outline" >
                                    <mat-label>CVV</mat-label>
                                    <input matInput placeholder="CVV" autocomplete="off">
                                    <mat-icon matSuffix></mat-icon>       
                                </mat-form-field>
                                <mat-form-field appearance="outline" >
                                    <mat-label>Expiry</mat-label>
                                    <input matInput placeholder="Expiry" autocomplete="off">
                                    <mat-icon matSuffix></mat-icon>       
                                </mat-form-field>
       
                    </div>
                    
                </mat-grid-tile>
              
            </mat-grid-list>
            
            <button mat-stroked-button color="primary" (click)="payWithRazor()" >Add</button>

        </mat-tab>
        <mat-tab label="CREDIT CARD">
            CREDIT CARD
        </mat-tab> 
    </mat-tab-group> -->
</div>