<div>
    <mat-toolbar>
        
                <span>Admin Panel</span>
                <span class="fill-remaining"></span>
                <!-- <a href="admin/dashboard" class="btn btn-primary mr-3">Products</a>
                <a href="admin/category" class="btn btn-primary mr-3">Category</a>
                <a href="admin/category" class="btn btn-primary mr-3">Coupons</a>
                <a href="#" class="btn btn-primary">Category</a> -->
                <button mat-raised-button color="primary" class="mr-3" (click)="products()">Products</button>
                <button mat-raised-button color="primary" class="mr-3" (click)="category()">Category</button>
                <button mat-raised-button color="primary" class="mr-3" (click)="coupon()">Coupons</button>
                <button mat-raised-button color="warn" (click)="logout()">Log out</button>
            </mat-toolbar>
        
        <router-outlet></router-outlet>
</div>