/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.fill-remaining{
    flex: 1 1 auto;
}
snack-bar-container.success{
    background-color: green;
    color: ivory;
}

snack-bar-container.delete{
    background-color: red;
    color: ivory;
}

/* .bg{
    background-image: url("assets\\Images\\wrist-watches.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
} */

.footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    color: white;
    text-align: center;
}

.cart{
    min-height: 100%;
}

.class1{
    background-color: gray;
    color: whitesmoke;
}

.class2{
    background-color: yellow;
}


.headerclass{
    background-color: darkgrey;
    color: black;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > * {
    width: 100%;
}