
 <mat-drawer-container class="example-container" hasBackdrop="true">
   
  <mat-drawer #drawer mode="side">

   
  
    <mat-nav-list>
      <mat-list-item>
        <strong> <mat-icon>
          local_mall
        </mat-icon></strong>
      </mat-list-item>
      <mat-list-item >
        <strong><mat-icon>shop</mat-icon>  Action 1</strong>
      </mat-list-item>
      <mat-list-item >
        <strong> <mat-icon>shop</mat-icon>   Action 2</strong>
      </mat-list-item>

      <mat-list-item >
        <strong> <mat-icon>shop</mat-icon>Action 3</strong>
      </mat-list-item>

      <mat-list-item >
        <strong> <mat-icon>shop</mat-icon>Action 4</strong>
      </mat-list-item>
    
     

      </mat-nav-list>
   
      
 
  </mat-drawer>
  
  <mat-drawer-content>



    <mat-toolbar class="headerclass">
      <span (click)="drawer.toggle()"><mat-icon>menu</mat-icon></span>
      <div [ngSwitch]="selectedclass">
        <span *ngSwitchCase="'1'">My Order</span>
        <span *ngSwitchCase="'2'">Delivery App</span>
      </div>
    
      <span class="fill-remaining"></span>
      <a class="nav-link headerclass "  routerLink="/home">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-link headerclass" style="cursor: pointer;"    (click)="Cart()"><mat-icon matBadge="{{count}}" matBadgeColor="warn">shopping_cart</mat-icon></a>
      <button mat-button  style="color:black; font-weight: bolder; margin-bottom: 1%;" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
       
          <button mat-menu-item (click)="ChangePassword()"><strong>Change Password</strong></button>
           <button mat-menu-item (click)="UpdateProfile()"><strong>Update Profile</strong></button>
          <button mat-menu-item (click)="Orders()"><strong>MyOrder</strong></button>
          <button mat-menu-item (click)="Logout()"><strong>Logout</strong></button>
          <!-- <button mat-menu-item (click)="style1()"><strong>style 1</strong></button>
          <button mat-menu-item (click)="style2()"><strong>style 2</strong></button> -->
       
      </mat-menu>

      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="ChangePassword()">Change Password</button>
        <button mat-menu-item (click)="UpdateProfile()">Update Profile</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>


    <div style="margin-bottom: 0%; margin-block-end: 0%;" class="footer" >
      <footer class="py-2 " [ngClass]="{'class1':true}">
        <div class="container">
          <div [ngSwitch]="selectedclass">
            <p class="m-0 text-center text-white" *ngSwitchCase="'1'">Copyright &copy; My Order 2020</p>
            <p class="m-0 text-center text-white" *ngSwitchCase="'2'">Copyright &copy; Delivery App 2020</p>
          </div>
         
        </div>
        <!-- /.container -->
      </footer>
  
    </div>

  </mat-drawer-content>
</mat-drawer-container>